    *{
        margin: 0;
        padding: 0;
    }
@media screen and (min-width: 769px){
    article{
        margin: 10px 10%;
    }

    figure{
        margin: 10px 10%;
    }

    main{
        margin: 0 10%;
    }

    main h1{
        margin: 10px 0;
    }

    .wrapper{
        background-image: url(../img/photo.png);
        min-height: 980px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrapperbutton{
        background-image: url(../img/photo.png);
        min-height: 980px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .buttontext{
        height: 300px;
        display: flex;
        justify-content: center;
        background: #BCDFDE;
    }

    .buttontext p{
        align-self: center;
    }

    .wrappertext {
        height: 580px;
      }
      
    .wrappertext p {
        line-height: 1.6; 
        text-align: justify;
        margin: 0;
      }
      
      .star {
        float: right;
        width: 50%;
        height: 250;
        shape-outside: url(/assets/img/photo.png);
        shape-margin:20px;
        margin-left: 20px;
      }

      .figures3mobil{
          display: none;
      }

      .wrappermobil{
          display: none;
      }

      .grids4{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-gap: 20px;
          margin: 50px 70px;
      }

      .img1 img{
         grid-row: 1;
         grid-column: 1;
         width: 100%;
      }

      .img2 img{
         grid-row: 1;
         grid-column: 2;
         width: 100%;
      }

      .img3 img{
         grid-row: 1;
         grid-column: 3;
         width: 100%;
      }

      .img4 img{
         grid-row: 2;
         grid-column: 1;
         width: 100%;
      }

      .img5 img{
         grid-row: 2;
         grid-column: 2;
         width: 100%;
      }

      .img6 img{
         grid-row: 2;
         grid-column: 3;
         width: 100%;
      }

      .img7 img{
         grid-row: 3;
         grid-column: 1;
         width: 100%;
      }

      .img8 img{
         grid-row: 3;
         grid-column: 2;
         width: 100%;
      }

      .img9 img{
         grid-row: 3;
         grid-column: 3;
         width: 100%;
      }

      .img10 img{
         grid-row: 4;
         grid-column: 1;
         width: 100%;
      }

      .img11 img{
         grid-row: 4;
         grid-column: 2;
         width: 100%;
      }

      .img12 img{
         grid-row: 4;
         grid-column: 3;
         width: 100%;
      }

      .grids4 figure{
          margin: 0;
      }
}

@media screen and (max-width: 768px){

    article{
        margin: 10px 20px;
    }

    main{
        margin: 0 20px;
    }

    main h1{
        margin: 10px 0;
    }
    
    .wrappermobil{
        align-items: center;
        justify-content: center;
        display: flex;
        background-image: url(../img/photo.png);
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .wrapper{
        align-items: center;
        justify-content: center;
        display: flex;
        background-image: url(../img/photo.png);
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrappertext{
        align-items: center;
        justify-content: center;
        display: flex;
        background-image: url(../img/photo.png);
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrappertext{
        display: none;
    }

    .figures3mobil{
        margin: 25px 0;
    }

    .figures3{
        margin: 0 0 25px 0;
    }

    .wrapperbutton img{
        max-width: 100%;
    }

    .buttontext{
        display: none;
    }

    .wrapperbutton{
        display: none;
    }

    .grids4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        margin: 20px 10px;
    }

    .img1 img{
       grid-row: 1;
       grid-column: 1;
       width: 100%;
       min-height: 100%;
    }

    .img2 img{
       grid-row: 1;
       grid-column: 2;
       width: 100%;
       min-height: 100%;
    }

    .img3 img{
       grid-row: 1;
       grid-column: 3;
       width: 100%;
       min-height: 100%;
    }

    .img4 img{
       grid-row: 2;
       grid-column: 1;
       width: 100%;
       min-height: 100%;
    }

    .img5 img{
       grid-row: 2;
       grid-column: 2;
       width: 100%;
       min-height: 100%;
    }

    .img6 img{
       grid-row: 2;
       grid-column: 3;
       width: 100%;
       min-height: 100%;
    }

    .img7 img{
       grid-row: 3;
       grid-column: 1;
       width: 100%;
       min-height: 100%;
    }

    .img8 img{
       grid-row: 3;
       grid-column: 2;
       width: 100%;
       min-height: 100%;
    }

    .img9 img{
       grid-row: 3;
       grid-column: 3;
       width: 100%;
       min-height: 100%;
    }

    .img10 img{
       grid-row: 4;
       grid-column: 1;
       width: 100%;
       min-height: 100%;
    }

    .img11 img{
       grid-row: 4;
       grid-column: 2;
       width: 100%;
       min-height: 100%;
    }

    .img12 img{
       grid-row: 4;
       grid-column: 3;
       width: 100%;
       min-height: 100%;
    }

    .grids4 figure{
        margin: 0;
    }
}
}