    *{
        margin: 0;
        padding: 0;
    }
@media screen and (min-width: 769px){
    article{
        margin: 10px 10%;
    }

    main{
        margin: 0 10%;
    }

    main h1{
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px){

    article{
        margin: 10px 20px;
    }

    main{
        margin: 0 20px;
    }

    main h1{
        margin: 10px 0;
    }

}